body{
	background-image: url(background.jpg);
	background-size: cover;
	background-repeat:repeat;

	text-align:center;/*mettre les textes dans ce boitre au milieux*/
	color:#fffff3;
	font-family: sans-serif;/*type de caractere*/
	font-weight:400;
	font-size:13px;
}

div{
	margin:10px;
	border-radius:5px;
}

a{	
	color:#fffff3;
	text-decoration:none;/*pas de sous ligne*/
}

input {
	width:60px;
}
.round-button-circle { 
	display: inline-block;
	padding: 10px 40px; 
	background: #454552;
	width: 220px;
	border-radius:5px;
	margin:10px;
}
.round-button-circle:hover {
	background:#1e2022;
}
#case1{
	background-color:#52616a;
	opacity:0.9;
}

#case2{
	background-color:#52616a;
	opacity:0.9;
}

#case3{
	width:20%;
	background-color:#52616a;
	height:650px;	
	float:left;
	opacity:0.9;
}
	
#case4{
	width:77%;
	height:650px;
	background-color:#F0E5DE;
	float:right;
	opacity:0.9;
	color:#000000;
}

.divtransp{
	padding:6px;
	background-color:#52616a;
	opacity:0.9;
}
#footer{
	bottom:0px;
  	width: 99%;
	color:white;
	font-size:10px;
position:static;
}

#tabPan{
	height:98%;
	overflow:scroll;
}
