<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProjetJEE</display-name>
  	<servlet>
		<display-name>Monitoring</display-name>
		<servlet-name>Monitoring</servlet-name>
		<servlet-class>base.MonitoringServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Monitoring</servlet-name>
		<url-pattern>/MonitoringServlet</url-pattern>
	</servlet-mapping> 
  	<servlet>
		<display-name>Ajax</display-name>
		<servlet-name>Ajax</servlet-name>
		<servlet-class>base.AjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ajax</servlet-name>
		<url-pattern>/AjaxServlet</url-pattern>
	</servlet-mapping> 
	<servlet>
		<display-name>Input</display-name>
		<servlet-name>Input</servlet-name>
		<servlet-class>base.InputServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Input</servlet-name>
		<url-pattern>/InputServlet</url-pattern>
	</servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>